body{
  background: linear-gradient(#cce0ff,#99c2ff);
  font-family: Verdana, Arial, sans-serif;
}

.container{
  width:800px;
  margin:auto;
  background:white;
  border:3px solid #003399;
  padding:15px;
}

button{
  background:#003399;
  color:white;
  border:none;
  padding:5px 10px;
  cursor:pointer;
}

button:hover{
  background:#0055ff;
}
